<a href="https://colab.research.google.com/github/aminsadruddin/Assignment_03_04_05/blob/main/Assignment_04_(List)ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program that accepts a list from user and print the alternate element of list.

In [ ]:
a = list(input("Enter a list: "))
print(a[::2])

Enter a list: AnnnaaAATUOHGJ
['A', 'n', 'a', 'A', 'T', 'O', 'G']

2. Write a program that accepts a list from user. Your program should reverse the content of list and
display it. Do not use reverse() method.

In [ ]:
b = str(input("Enter a list: "))
b = b.split()
c = list(b)
c = c[::-1]
print(b)

Enter a list: aasa 22 asas 38656
['aasa', '22', 'asas', '38656']

3. Find and display the largest number of a list without using built-in function max(). Your program
should ask the user to input values in list from keyboard.

In [17]:
def largest_num(lll):
  d = 0
  for i in lll:
    if i > d:
      d = i
  print(d)

largest_num([1,3,8,9,8])

9

4. Write a program that rotates the element of a list so that the element at the first index moves to the
second index, the element in the second index moves to the third index, etc., and the element in the last
index moves to the first index.

In [18]:
def rotate_list(lst):
    return lst[1:] + [lst[0]]

rotate_list([1,2,3,4,5])

[2, 3, 4, 5, 1]

5. Write a program that input a string and ask user to delete a given word from a string.

In [19]:
a = str(input(" enter your string : "))
print ("your string is *** :", a)
b =  str(input(" enter your string to delet: "))
c = a.replace(b, "")
print ("your new string is *** :", c)

 enter your string : my name is amin and i am a boy
your string is *** : my name is amin and i am a boy
 enter your string to delet: my
your new string is *** : name is amin and i am a boy

6. Write a program that reads a string from the user containing a date in the form mm/dd/yyyy. It
should print the date in the form March 12, 2021.

In [31]:
date_input = input("Enter a date (mm/dd/yyyy): ")
date_parts = date_input.split("/")
print(date_parts)

month = date_parts[0]
day = (date_parts[1])
year = (date_parts[2])

print(month)
print(day)
print(year)

if month == "01":
    month_name = "January"
elif month == "02":
    month_name = "February"
elif month == "03":
    month_name = "March"
elif month == "04":
    month_name = "April"
elif month == "05":
    month_name = "May"
elif month == "06":
    month_name = "June"
elif month == "07":
    month_name = "July"
elif month == "08":
    month_name = "August"
elif month == "09":
    month_name = "September"
elif month == "10":
    month_name = "October"
elif month == "11":
    month_name = "November"
elif month == "12":
    month_name = "December"
else:
    month_name = "Unknown"

print(f"{month_name} {day}, {year}")

Enter a date (mm/dd/yyyy): 12/30/2024
['12', '30', '2024']
12
30
2024
December 30, 2024

7. Write a program with a function that accepts a string from keyboard and create a new string after
converting character of each word capitalized. For instance, if the sentence is "stop and smell the roses."
the output should be "Stop And Smell The Roses"

In [33]:
a = str(input("Enter a senterces : "))
b = a.title()
print(b)

Enter a senterces : stop and smell the roses.
Stop And Smell The Roses.

8. Find the sum of each row of matrix of size m x n. For example for the following matrix output will be
like this :
Sum of row 1 = 32
Sum of row 2 = 31
Sum of row 3 = 63

In [43]:
matrix = [ [2, 11, 7, 12],
          [5, 2, 9, 15],
           [8, 3, 10, 42]]
j = 0
for i in matrix:
  j = j + 1
  print(f"sum of row {j} = ", sum(i))

sum of row 1 =  32
sum of row 2 =  31
sum of row 3 =  63

9. Write a program to add two matrices of size n x m.

In [44]:
matrix1 = [ [2, 11, 7, 12],
          [5, 2, 9, 15],
           [8, 3, 10, 42]]

matrix2 = [ [1, 2, 3, 4],
          [5, 6, 7, 8],
           [9, 10, 11, 12]]

result = []

for i in range(len(matrix1)):
    row = []
    for j in range(len(matrix1[0])):
        row.append(matrix1[i][j] + matrix2[i][j])
    result.append(row)

for row in result:
    print(row)

[3, 13, 10, 16]
[10, 8, 16, 23]
[17, 13, 21, 54]

10. Write a program to multiply two matrices

In [46]:
matrix3 = [ [ 3, 11, 7, 12],
           [4,3,34,5],
            [1,2,3,4]]

matrix4 = [ [1,5,5,8],
           [2,35,6,8],
            [1,2,3,4]]

result = []

for i in range(len(matrix3)):
    row = []
    for j in range(len(matrix3[0])):
        row
        element = 0
        for k in range(len(matrix3)):
            element += matrix3[i][k] * matrix4[k][j]
        row.append(element)
    result.append(row)

for row in result:
    print(row)

[32, 414, 102, 140]
[44, 193, 140, 192]
[8, 81, 26, 36]