<a href="https://colab.research.google.com/github/aminsadruddin/Assignment_03_04_05/blob/main/Assignment_05_(Loops)ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to print the numbers from 1 to 10 using a for loop.

In [ ]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Write a Python program to print the numbers from 20 to 1 using a while loop.

In [ ]:
for i in range (20,0,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

3. Write a program to print even numbers from 1 to 10.

In [ ]:
for i in range (1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

4. Write a program that prompts the user to enter a number n and prints all the
numbers from 1 to n.

In [ ]:
a = int(input("enter a number"))
for i in range (1,a+1):
    print(i)

enter a number10
1
2
3
4
5
6
7
8
9
10

5. Write a program that prompts the user to enter a number n, and then prints all the
odd numbers between 1 and n.

In [ ]:
a = int(input("enter a number"))
for i in range (1,a+1):
    if i%2!=0:
        print(i)

enter a number33
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33

6. Write a program that prints 'Happy Birthday!' five times on screen.

In [ ]:
a = "Happy Birthday!"
for i in range (1,6):
    print(a)

Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!
Happy Birthday!

7. Write a program that takes a number n as input from the user and generates the first
n terms of the series formed by squaring the natural numbers.
Sample output
Enter a number: 6
The first 6 terms of the series are:
1 4 9 16 25 36

In [ ]:
a = int(input("enter a number"))
for i in range (1,a+1):
    print(i**2)

enter a number7
1
4
9
16
25
36
49

8. Write a program that prompts the user to input a number and prints its multiplication
table.

In [ ]:
i = int(input("enter a number"))
print (1*i,2*i,3*i,4*i,5*i,6*i,7*i,8*i,9*i,10*i)

enter a number3
3 6 9 12 15 18 21 24 27 30

In [ ]:
a = int(input("enter a number"))
for i in range (1,11):
    print(i*a)

enter a number4
4
8
12
16
20
24
28
32
36
40

9. Write a Python program to print the first 8 terms of an arithmetic progression starting
with 3 and having a common difference of 4.
The program should output the following sequence:
3 7 11 15 19 23 27 31

In [ ]:
for i in range (3,33,4):
    print(i)

3
7
11
15
19
23
27
31

10. Write a Python program to print the first 6 terms of a geometric sequence starting
with 2 and having a common ratio of 3.
The program should output the following sequence:
2 6 18 54 162 486

In [ ]:
a = 2
for i in range (1,7):
    print(a)
    a = a*3

2
6
18
54
162
486

11. Write a program that asks the user for a positive integer value. The program should
calculate the sum of all the integers from 1 up to the number entered. For example, if
the user enters 20, the loop will find the sum of 1, 2, 3, 4, ... 20.

In [ ]:
A = int(input("enter a number"))
sum1 = 0
for i in range (1,A+1):
    print(i)
    sum1 = sum1 + i
print(sum1)

enter a number10
1
2
3
4
5
6
7
8
9
10
55

12. write a program that takes a positive integer N as input and calculates the sum of
the reciprocals of all numbers from 1 up to N. The program should display the final sum.
Output of the program should be like:
Enter a positive integer: 5
The sum of reciprocals from 1 to 5 is: 2.28

In [3]:
n = int(input("enter a number : "))
sum1 = 0
for i in range (1,n+1):
    sum1 = sum1 + (1/i)
print(sum1)

enter a number : 5
2.283333333333333

13. Write a program that prompts the user to enter a number and repeats this process 5
times. The program should accumulate the numbers entered and then display the final
running total.
Sample Output:
Enter a number: 10
Enter a number: 15
Enter a number: 35
Enter a number: 40
Enter a number: 50
The final running total is: 150

In [8]:
b = 0
for i in range (1,6):
    a = int(input("enter a number"))
    b = b + a
print(b)

enter a number10
enter a number10
enter a number10
enter a number10
enter a number10
50

14. Write a program that prompts the user to enter a positive integer and calculates its
factorial. The factorial of a positive integer 'n' is denoted as 'n!' and is calculated by
multiplying all the integers from 1 to 'n' together. For example, the factorial of 5
(denoted as 5!) is calculated as 1 x 2 x 3 x 4 x 5.
The program should display the factorial value if the input is a positive number, or
display a message stating that the factorial does not exist for negative numbers.
Additionally, for an input of zero, the program should output that the factorial of 0 is 1.

In [15]:
def factorial(n):
    if n == 0:
        return 1
    elif n < 0:
        return "factorial does not exist for negative numbers"
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : -1
factorial does not exist for negative numbers

15. Write a Python program that prompts the user to enter a base number and an
exponent, and then calculates the power of the base to the exponent. The program
should not use the exponentiation operator (**) or the math.pow() function. The
program should handle both positive and negative exponents

In [28]:
def power(a,b):
    c = a
    if b > 0:
        for i in range (1,b):
          a = c*a
        return a
print(power(2, 3))
print(power(2, 4))
print(power(2, 5))

8
16
32